.bodyclass {
    background-color: #f9f9ff;
}

.button-class {
    padding: 10px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;

}
.button-class:hover{
    background-color: rgb(143, 143, 220);
}


.a {
    text-decoration: none;
    color: White;
}


/* Header Style-Image */
.header-class {
    background-image: url('../assets/Assets/Hero-bg.png');
    height: 698px;
}

/* navbar styles */
nav {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
}

.inter-navbar-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar-font {
    font-size: 34px;
    font-weight: 800;
    max-width: 1440px;
}

nav ul li {
    list-style: none;
}

header section nav h3{
    color:rgba(78, 71, 255, 1);
}
.first-button{
    padding: 10px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}
.first-button:hover{
    background-color:rgb(118, 160, 217);
}


/* Banner Style */

.banner {
    text-align: center;
    margin-left: 267px;
    margin-right: 267px;
    margin-bottom: 152px;
}

.developer-site {
    font-weight: 800;
    font-size: 65px;
    text-align: center;
}

/* Body para and image  */

.raleway-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  color:rgba(37, 36, 50, 0.5);
}
.body-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 141px;
    margin-right: 159px;
    margin-top: 100px;
    gap:200px;
}

.see-in-action {
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-weight: bold;
    font-size: 42px;
    color: rgba(37, 36, 50, 1);
}

.body-image {
    border-radius: 35px;
}

/* This is the second body part */
.sndsection {
    margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
}

.body-snd-para {
    display: flex;
    justify-content: center;
}

.body-Joined-para {
    font-family: "Raleway",sans-serif;
    color:rgba(37, 36, 50, 1);
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.numbers{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sndsection div h2{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color:rgba(78, 71, 255, 1);
    margin:0;
    gap:40px;
}

/* Third Section part */
.thirdsection {
    font-family: Arial, sans-serif;
    background-color: #f0f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
    border-radius: 20px;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

.thirdh1 {
    font-size: 3em;
    color: #000;
    margin-left: 0;

}

.thirdform {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.labelclass {
    font-weight: bold;
}

.inputclass {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;

}

.thirdbutton {
    padding: 10px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

}

.thirdbutton:hover {
    background-color: rgba(78, 71, 255, 1);

}

/* Footer Section */
.footer-class {
    font-family: Arial, sans-serif;
    background-color: #f9f9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
}

.footer-h1{
    font-size: 5em;
    color: rgba(78, 71, 255, 1);
    margin: 20px;
    font-weight: 800;
}
.footer-para{
    font-size: 1.2em;
    color: #6b7280;
    max-width: 600px;
    margin: 0;
}

.footer-nav {
    margin-top: 30px;
}

footer nav a {
    color: #6b7280;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}
.footer-nav a:hover{
    color: rgb(74, 68, 247);
}